/* line 9, sass/style.sass */
body {
  background: url("../images/paper.jpg");
  padding-top: 10%;
  color: #444444;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 28px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

/* line 18, sass/style.sass */
.koan {
  max-width: 900px;
  margin: auto;
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
/* line 25, sass/style.sass */
.koan.unfaded {
  opacity: 1;
}
/* line 29, sass/style.sass */
.koan .description {
  margin: 20px;
}
/* line 32, sass/style.sass */
.koan .code {
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  color: #003744;
  font-size: 24px;
  font-family: Monaco, Inconsolata, Menlo, Courier;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 42, sass/style.sass */
.koan .shadow {
  position: absolute;
  visibility: hidden;
}
/* line 46, sass/style.sass */
.koan input {
  background-color: transparent;
  border: none;
  color: #003744;
  font-size: 24px;
  font-family: Monaco, Inconsolata, Menlo, Courier;
  color: #0068a7;
  text-align: center;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  width: 56px;
  -webkit-appearance: none;
}
/* line 56, sass/style.sass */
.koan input:focus {
  outline: none;
}
