@import "compass/css3/transition"

@mixin code-font
  color: #003744
  font:
    size: 24px
    family: Monaco, Inconsolata, Menlo, Courier

body
  background: url("../images/paper.jpg")
  padding-top: 10%
  color: #444
  font:
    family: 'Sorts Mill Goudy', serif
    size: 28px
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9)

@-webkit-keyframes fadeIn
  0%
    display:none
    opacity: 0
  1%
    display: block
    opacity: 0
  100%
    display: block
    opacity: 1

.koan
  -webkit-animation-duration: 1s
  -webkit-animation-name: fadeIn

  max-width: 900px
  margin: auto
  text-align: center

  .description
    margin: 20px

  .code
    background: rgba(255, 255, 255, 0.7)
    display: inline-block
    +code-font
    padding:
      left: 20px
      right: 20px
      top: 10px
      bottom: 10px

  .shadow
    position: absolute
    visibility: hidden

  input
    background-color: transparent
    border: none
    +code-font
    color: darken(#0088DA, 10%)
    text-align: center
    +transition(width 0.2s ease-in-out)
    width: 18px

    -webkit-appearance: none
    &:focus
      outline: none