@import "compass/css3/transition"

@mixin code-font
  font:
    size: 24px
    family: Monaco, Inconsolata, Menlo, Courier

@mixin fadeable
  opacity: 0
  +transition(opacity 0.8s)
  &.unfaded
    opacity: 1

body
  background: url("../images/paper.jpg")
  color: #444
  font:
    family: 'Sorts Mill Goudy', serif
    size: 28px
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9)

.category
  +fadeable
  left: 40px
  position: absolute
  top: 20px
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5)

  &.unfaded
    opacity: 0.5

.circle
  height: 50%
  opacity: 0.1
  position: fixed
  right: 20px
  bottom: 20px

.error
  color: #D33
  font-size: 18px
  padding-top: 10px
  +fadeable

.functions
  margin: 20px
  padding-top: 30px
  text-align: center

  .function
    background-color: rgba(0, 0, 0, 0.05)
    display: inline-block
    margin: 10px
    max-width: 860px
    padding:
      top: 10px
      bottom: 10px
      left: 18px
      right: 18px
    text-align: left
    vertical-align: top

    pre, input
      +code-font
      display: inline-block
      font-size: 16px

    input
      border-bottom: 1px dashed #AAA
      margin-right: 6px


.koan
  +fadeable
  max-width: 900px
  margin: auto
  padding-top: 15%
  text-align: center

  &.has-functions
    padding-top: 8%

  .description
    margin: 20px
    width: 100%

  .code-box
    background: rgba(255, 255, 255, 0.7)
    display: inline-block
    +code-font
    text-shadow: none
    +transition(background-color 1s)

    &.incorrect
      background-color: rgba(255, 0, 0, 0.2)

    padding:
      left: 20px
      right: 20px
      top: 10px
      bottom: 10px

  .shadow
    position: absolute
    visibility: hidden

  input
    background-color: transparent
    border: none
    +code-font
    color: darken(#0088DA, 10%)
    text-align: center
    +transition(width 0.2s ease-in-out)
    width: 56px

    -webkit-appearance: none
    &:focus
      outline: none